<app-explore-container></app-explore-container>

<ion-content [fullscreen]="true">
  <ion-header color="primary" class="ion-margin-vertical ion-text-end ion-padding">
    
    <ion-text (click)="goPremiumHandler()">{{premium}}</ion-text>
    
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>Amount</ion-col>
      <ion-col>Desc</ion-col>
      <ion-col>Type</ion-col>
      <ion-col>Action</ion-col>
    </ion-row>
    <ion-row *ngFor="let ex of expenseService.allExpense">
      <ion-col>{{ex.amount}}</ion-col>
      <ion-col>{{ex.description}}</ion-col>
      <ion-col>{{ex.expenseType}}</ion-col>
      <ion-col> <ion-icon id="ex.id" (click)="deleteExpenseHandler(ex.id)" name="trash"></ion-icon> </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>
