
:host{

    .income-text{
        color:green;
    }
    .expense-text{
        color:red;
    }

   .even-class{
    background-color: lightgrey;
   }
   .odd-class{
    background-color: whitesmoke;
   }
   .date-class{
    background-color: white !important;
   }

}